@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.bg-gradient-radial-hero {
  background-image: radial-gradient(
      circle at 70% 50%,
      #fff9c3 11%,
      transparent 41%
    ),
    radial-gradient(
      circle at 68% 50%,
      rgba(255, 250, 195, 0.1) 13%,
      transparent 52%
    );
}
.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(255 61 84 / var(--tw-bg-opacity));
}

.hero_section {
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination {
  position: absolute;
  top: 0;
}
.custom_pagination .swiper-pagination-bullet-active .path {
  display: inline-block !important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.custom_pagination .swiper-pagination-bullet-active .path {
  -webkit-animation: dash 180s linear alternate;
  animation: dash 180s linear alternate;
}

.custom_pagination .path {
  display: none;
}

.custom_pagination {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 50% !important;
  left: 95% !important;
}
.slider1_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.white_shade::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300%;
  transform: translateX(-100%);
  background-color: white;
  transition: transform 1.5s linear, opacity 0.5s ease-in-out;
  pointer-events: none;
  display: block;
}

/* When the slide is active and has not yet played, move the background */
.swiper-slide-active:not(.slide-played) .white_shade::after {
  transform: translateX(100%);
}

/* When the slide has played, hide the background */
.slide-played .white_shade::after {
  opacity: 0;
}

/* Text inside the container with opacity transition */
.hero_1_text {
  font-size: 2rem; /* Adjust size as needed */
  line-height: 1;
  letter-spacing: -0.05em;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.4s; /* delay the opacity change slightly */
}

/* Make the text visible when the slide is active or has played */
.swiper-slide-active:not(.slide-played) .hero_1_text,
.slide-played .hero_1_text {
  opacity: 1;
}

/* Larger text on larger screens */
@media (min-width: 1024px) {
  .hero_1_text {
    font-size: 4rem;
  }
}

@media (min-width: 1280px) {
  .hero_1_text {
    font-size: 5rem;
  }
}
